FAT_WAK_data/umindlite/UmindLite_01_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_02_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_02_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_06_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_11_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_01_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_06_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_09_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_09_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_10_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/UmindLite_10_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindlite/ filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/ filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_01_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_01_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_03_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_05_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_02_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_02_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_03_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_04_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_04_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/brainlink/BrainLinkRaw_05_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/ filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_06_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_11_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_14_FAT2.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_04_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_03_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_09_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_16_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_02_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_05_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_06_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_09_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_10_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_13_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_15_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_03_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_05_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_07_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_10_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_15_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_01_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_02_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_04_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_01_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_07_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_08_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_12_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_12_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_14_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_16_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_08_FAT.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_11_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/emotiv/Emotiv_13_WAK.csv filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/ filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_04_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_08_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_11_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/edfdata filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_06_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_06_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_08_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_09_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_09_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_11_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_12_FAT.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_04_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/umindsleep/UmindSleep_12_WAK.txt filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/ filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/FW_BRAINLINK/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/FW_UMINDLITE/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/FW_UMINDSLEEP/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/FW_EMOTIV/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/FW_TGAM/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/MUSIC_TGAM_EAR/* filter=lfs diff=lfs merge=lfs -text
FAT_WAK_data/MUSIC_TGAM_FRONTHEAR/* filter=lfs diff=lfs merge=lfs -text
